{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Referral{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="" required>

    <label for="enum">Employee Number</label>
    <input name="enum" id="enum" value="" required>

    <label for="turnover">Turnover</label>
    <input type="number" name="turnover" id="turnover" value="" required>

    <label for="project_date">Project Date</label>
    <input type="date" name="project_date" id="project_date" value="" required>

    <label for="budget">Budget</label>
    <input name="budget" id="budget" value="" required>

    <label for="desc">Description</label>
    <textarea name="desc" id="desc" required></textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}
