{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ post.title }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <article class="post">
      <header>
        <div>
          <div class="about">by {{ post_user.username }} on {{ post.timestamp.strftime('%Y-%m-%d') }}</div>
        </div>
        {% if user.id_ == post.user_id %}
          <a class="action" href="{{ url_for('update', id=post.id_) }}">Edit</a>
        {% endif %}
      </header>

      <h3>Employee Number</h3>
      <p>{{post.enum}}</p>

      <h3>Turnover</h3>
      <p>{{post.turnover}}</p>

      <h3>Project Date</h3>
      <p>{{post.project_date.strftime('%Y-%m-%d')}}</p>

      <h3>Budget</h3>
      <p>{{post.budget}}</p>

      <h3>Description</h3>
      <p class="body">{{ post.description }}</p>
    </article>
{% endblock %}
