{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block header %}
  <h1>{% block title %}Search results for user: "{{query}}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if no_user %}
    <h4>No user with username "{{query}}"</h4>
  {% else %}
  {% if no_posts is sameas false %}
    <h4>No posts by this user</h4>
  {% endif %}
    {% for post, username, req in posts %}
      <article class="post">
        <header>
          <div>
            <h1><a class="action" href="{{url_for('post.view', id=post.id_)}}">{{ post.title }}</a></h1>
            <p><b>Project date:</b> {{post.project_date.strftime('%Y-%m-%d')}} <br> <b>Budget:</b> {{post.budget}} </p>
            <div class="about">by {{ username }} on {{ post.timestamp.strftime('%Y-%m-%d') }} at {{ post.timestamp.strftime('%H:%M') }}</div>
          </div>
          {% if user.id_ == post.user_id %}
            <a href="{{ url_for('post.update', id=post.id_) }}">Edit</a>
          {% else %}
          <div class="action">
            {% if req %}
              <h1><a class="action" href="{{ url_for('post.unrequest_post', post_id=post.id_) }}">Unrequest</a><h1>
            {% else %}
              <h1><a class="action" href="{{ url_for('post.request_post', post_id=post.id_) }}">Request</a><h1>
            {% endif %}
          </div>
          {% endif %}
        </header>
      </article>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}

{% block pageinfo %}
{% if no_user %}

{% else %}
  <div class="pagination">
  {% if pagenum > 1 %}
    <a href="{{url_for('search', pagenum=pagenum-1)}}?search={{query}}">&lt;</a>
  {% endif %}
  {% for i in range(total_pages) %}
    {% if pagenum == i+1 %}
    <a class="active" href="#">{{i+1}}</a>
    {% else %}
    <a href="{{url_for('search', pagenum=i+1)}}?search={{query}}">{{i+1}}</a>
    {% endif %}
  {% endfor %}
  {% if total_pages - pagenum > 0 %}
    <a href="{{url_for('search', pagenum=pagenum+1)}}?search={{query}}">&gt;</a>
  {% endif %}
  </div>
{% endif %}
{% endblock %}
