<!doctype html>
<title>{% block title %}{% endblock %} - Referral</title>
{% block css %}{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('index') }}">Referral</a></h1>
  <ul>
    {% if user %}
      <li><span>{{ user.username }}</span>
      <li><a href="{{ url_for('logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('register') }}">Register</a>
      <li><a href="{{ url_for('login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<br>
<header>
  {% block search %}{% endblock %}
</header>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
<br>
<section class="content">
  {% block pageinfo %}{% endblock %}
</section>
